<div class="card-body">
  <form th:action="@{/catalog/new}" th:object="${newDocument}" method="post" class="row g-3">
    <div class="col-md-3">
      <label class="form-label">Nom del Document</label>
      <input type="text" class="form-control" th:field="*{name}" required>
    </div>
    <div class="col-md-2">
      <label class="form-label">Categoria</label>
      <select class="form-select" th:field="*{category}" required>
        <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat.description}"></option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">Tipologia</label>
      <select class="form-select" th:field="*{clientType}" required>
        <option th:each="type : ${clientTypes}" th:value="${type}" th:text="${type.description}"></option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">URL Oficial (Opcional)</label>
      <input type="url" class="form-control" th:field="*{verificationUrl}" placeholder="https://...">
    </div>
    <div class="col-md-1 d-flex align-items-end">
      <div class="form-check mb-2">
        <input class="form-check-input ms-1" type="checkbox" th:field="*{expires}" id="expiresCheck">
        <label class="form-check-label ms-1 text-nowrap" for="expiresCheck">Caduca?</label>
      </div>
    </div>
    <div class="col-12 text-end mt-4">
      <button type="submit" class="btn btn-success">Afegir al Catàleg</button>
    </div>
  </form>
</div>